---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "fonts";
@import "button";
@import "quem";
@import "cadastro";
@import "agenda";
@import "live";
@import "a-crise";

@import "navigation";
@import "hero";
@import "bullets";
@import "griditems";
@import "footer";

@import "layout";

$slick-font-path: "../js/vendor/slick/fonts/";
$slick-font-family: "slick";
$slick-loader-path: "../js/vendor/slick/";

@import "../js/vendor/slick/slick";


.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}
.slick-prev, .slick-next {
  height: 32px;
  width: 32px;
}
.slick-prev:before, .slick-next:before {
  font-size: 32px;
  color: #2C4F77;
}

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple], button, input[type="submit"] {
  border-radius: 0;
}
.countdown {
  margin: 1em auto;
  width: 460px;
}

section {
  color: #2C4F77;
  padding: 3em 0;

  h2,
  h3 {
    text-transform: lowercase;
    font-size: 1.25em;
    line-height: 1.0;
    margin-bottom: 1em;
  }
  h2:before {
    content: url('../images/heading-positive.png');
    display: block;
  }
}

.tinted {
  background: #87DB75;
}





@media screen and (min-width: 320px) and (max-width: 640px) {
  header.navigation .navigation-tools {
    display:none;
  }

  h2,h3 {
    margin-left: 1em;
  }

  .hero .hero-logo {
    width: 90%;
  }

  #cadastre-se .container .report-download .report-box {
    margin: 3em auto;
  }


}
