---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "fonts";
@import "button";
@import "quem";
@import "cadastro";
@import "agenda";

@import "navigation";
@import "hero";
@import "bullets";
@import "griditems";
@import "footer";

@import "layout";

.countdown {
  margin: 1em auto;
  width: 460px;
}

section {
  color: #2C4F77;
  padding: 3em 0;

  h2,
  h3 {
    text-transform: lowercase;
    font-size: 1.25em;
    line-height: 1.0;
    margin-bottom: 1em;
  }
  h2:before {
    content: url('../images/heading-positive.png');
    display: block;
  }
}

.tinted {
  background: #87DB75;
}
