<section id="agenda" class="tinted">
  <div class="container">
    <h2>Agenda mínima</h2>
    <p>A Aliança pela Água de São Paulo reúne organizações com formas bem diversas de atuação. Mesmo com essa pluralidade, que enriquece o debate e aumenta a eficiência das soluções, as organizações participantes propõem um consenso em torno de um conjunto de ações . Essa Agenda Mínima é o núcleo que vai permitir que instituições independentes entre si unam esforços e multipliquem o resultados de suas iniciativas. As propostas levantadas no mapeamento Água@SP e a serem debatidas nos próximos meses podem ser vistas como aprofundamento das linhas gerais de ação propostas nessa Agenda Mínima As medidas propostas são:</p>
    <div class="actions">
      <div class="type">
        <h4>10 ações urgentes para a crise atual</h4>
        <h5>Necessárias para alcançar a meta de curto prazo</h5>
        <p><strong>1. Comitê de gestão da crise</strong><br>
        Pedimos ao governo paulista que instale um comitê de gestão da crise, com ampla participação da sociedade e das prefeituras afetadas pela escasez.</p>
        <p><strong>2. Salas de situação para gestão de crise</strong><br>
        Sugerimos ao governo paulista a instalação de salas de situação, espaços físicos nas maiores cidades de cada região afetada, que reunam em um mesmo local, enquanto durar a crise, os atores responsáveis pela gestão local da água.</p>
        <p><strong>3. Informação para a população</strong><br>
        As organizações participantes vão intensificar suas ações de informação e sensibilização da sociedade quanto à dimensão da crise e quanto à importância de que cada cidadão use a água ainda mais racionalmente. </p>
        <p><strong>4. Campanhas públicas </strong><br>
        Solicitamos que os governos estadual e municipais, além das concessionárias de água, ampliem suas campanhas de informação e adotem mensagens mais claras e frequentes quanto à importância da redução do consumo de água, captação de águas da chuva e armazenamento seguro em situação de emergência.</p>
        <p><strong>5. Transparência na gestão</strong><br>
        Exigimos que o governo estadual divulgue e garanta amplo acesso da população sobre locais e horários com maior risco de falta de água (“racionamento não oficial”) e que o governo estadual e a Sabesp trabalhem de forma integrada e coordenada com as prefeituras. Devem divulgar, ainda, um plano de ação emergencial, que mostre como vão garantir o abastecimento caso a estiagem se agrave.</p>
        <p><strong>6. Incentivos à redução de consumo</strong><br>
        Cobramos dos governos estadual e municipais, além das concessionárias de água, que intensifiquem as medidas pela redução do consumo, uma vez que as medidas atuais ainda são insuficientes frente a gravidade da crise. </p>
        <p><strong>7. Multa para usos abusivos</strong><br>
        Recomendamos que o governo estadual,  agências reguladoras e municípios estabeleçam multas para o desperdício de água e usos abusivos da água, com o estabelecimento de metas de redução de consumo por unidade consumidora.</p>
        <p><strong>8. Garantia de água em situação de emergência</strong><br>
        Propomos que o governo estadual, por meio do Cetesb/DAEE/Vigiliancia Sanitária e municípios, divulguem o quanto antes lista de fornecedores de água de caminhã pipa devidamente outorgados e em situação de regularidade sanitária. Recomendamos que seja feito, de foma compartilhada entre os governos, o mapeamento de possíveis situações de perfuração de poços, nascentes e bicas para uso de abrangência coletiva na escala de bairros e subprefeituras. </p>
        <p><strong>9. Ações para grandes consumidores (industrias e agricultura) </strong><br>
        Propomos que o governo fedeal (ANA) e estadual (DAEE), com a participação dos comitês de bacia, façam uma moratória de outorgas de forma a garantir reposição de águas subterrâneas, envolvendo os representantes de grandes consumidores (celulose, bebidas, irrigação, e outros).<br>
        Recomendamos que o governo estadual e as associações empresariais definam metas voluntárias e, quando necessário, obrigatórias, para a redução do consumo por parte de indústrias e serviços que usam muita água.  </p>
        <p><strong>10. Incentivo a novas tecnologias </strong><br>
        Propomos aos governos federal, estadual e municipais que reforcem imediatamente os programas de incentivo à instalação de equipamentos que permitam economia de água no uso doméstico, comercial e industrial, e as exigências de uso racional da água em novas obras e reformas, públicas e particulares.</p>
      </div>
      <div class="type">
        <h4>10 ações para o médio e longo prazos, mas que precisam começar já</h4>
        <h5>Necessárias para alcançarmos a meta de longo prazo</h5>
        <p><strong>1. Transição para um novo modelo de gestão da água</strong><br>
        Recomendamos a revisão  do Plano Diretor da Macrometrópole, com ampla participação dos comitês envolvidos e sociedade, de forma a ampliar ações de recuperação de mananciais, incorporar a dimensão climática, e avançar no uso racional e reuso da água de forma a diminuir a necessidade de implantação de novas fontes de água. </p>
        <p><strong>2. Concessão e regulação dos serviços de saneamento</strong><br>
        Recomendamos aos municípios que realizem a revisão e aprimoramento de contratos de concessão de serviços de saneamento e arranjos de regulação do serviços.</p>
        <p><strong>3. Redução das perdas</strong><br>
        Demandamos dos governos estadual e municipais, além das concessionárias de água, que apresentem e executem um plano de redução significativa das perdas de água ao longo da rede, tanto com vazamento quanto com desvios irregulares na distribuição. Os governos e concessionárias devem mostrar metas numéricas de redução das perdas e de investimentos para alcançar essa redução. </p>
        <p><strong>4. Políticas de reúso</strong><br>
        Cobramos dos governos estadual e municipais que apresentem e implementem uma política de reúso da água, dos esgotos e de aproveitamento de águas da chuva. </p>
        <p><strong>5. Comitês de bacia</strong><br>
        Pedimos aos governos federal, estadual e municipais um plano concreto para o fortalecimento dos comitês de bacia. </p>
        <p><strong>6. Recuperação e proteção dos mananciais</strong><br>
        Cobramos dos governos estadual e municipais a apresentação de propostas para recuperação e proteção dos mananciais. Conscientes do déficit habitacional existente, pedimos aos governantes que debatam com a sociedade e se comprometam com medidas para conciliar o atendimento das justas demandas por mais moradia com a conservação das áreas ao redor de represas. Pedimos ainda que seja feito o debate com a sociedade e setor elétrico sobre a incorporação  da Billings como manancial de abastecimento de água para a RMSP.  </p>
        <p><strong>7. Recuperação florestal </strong><br>
        Propomos aos governos estadual e municipais que apresentem uma política imediata de restauração de áreas degradadas e Áreas de Proteção Permanente (APPs) nas regiões de mananciais. Chamamos empresas e moradores instalados nessas regiões a participarem dessas ações, oferecendo áreas para restauração e buscando apoio técnico para a recuperação florestal. </p>
        <p><strong>8. Pagamento por serviços ambientais</strong><br>
        Demandamos aos governos estadual e municipais que estabeleçam e implementem programas de PSA para recompensar quem mantenha, em suas propriedades, a floresta em pé.</p>
        <p><strong>9. Adaptação climática</strong><br>
        Cobramos dos governos federal, estadual e municipais que apresentem planos de adaptação a extremos climáticos, como novas secas atípicas, e a mudanças mais duradouras nos padrões climáticos. Promover amplo processo de discussão sobre a provável influência de desmatamento em locais distantes dos centros urbanos consumidores de água, visando integrar medidas na esfera nacional.  </p>
        <p><strong>10. Coleta e tratamento de esgotos e despoluição dos rios urbanos</strong><br>
        Exigimos dos governos estadual e municipais que promovam ações para acelerar as obras de urbanização, a retirada de população de fundos de córrego, a implantação de parques e áreas protegidas, a instalação de coletores de esgotos e estações de tratamento.  Pedimos o debate sobre as alternativas técnicas para adoção de tratamento descentralizado de esgotos, reuso da água das ETEs e piscinões.</p>
      </div>
    </div>
    <div class="acting">
      <h4>Linhas de atuação conjunta</h4>
      <p>As organizações da Aliança pela Água de São Paulo vão atuar juntas em três frentes.</p>
      <ol>
        <li>Produção e divulgação de informações sobre a crise e suas soluções;</li>
        <li>Mobilização da sociedade e dos governos para a construção conjunta de soluções;</li>
        <li>Engajamento de atores para a construção de um pacto pelas água de São Paulo.</li>
      </ol>
    </div>
  </div>
</section>
