<section id="cadastre-se" class="tinted">
  <div class="container">
    <div class="registry">
      <form class="register">
        <h2>Preencha seus dados para se cadastrar</h2>
        <div id="messagesDiv"></div>
        <input type='text' id='nameInput' name="name" placeholder='Nome'>
        <input type='text' id='emailInput' name="name" placeholder='email'>
        <input type="submit" value="enviar">
      </form>
      <div class="social-register">
        <h2>Ou cadastre-se com:</h2>
        <div class="buttons">
          <div id="status"></div>
          <button id="fb-button">Facebook</button>
          <button id="google-button" class="customGPlusSignIn">Google</button>
        </div>
      </div>
    </div>
    <div class="report-download">
      <div class="report-box">
        <img class="box" src="images/report-box.svg">
        <div class="report-link">
          <a href="files/relatorio-alianca-pela-agua.pdf">
            <img src="images/report-icon.svg">
            <h5>Baixe o relatório</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
