<footer class="footer" id="contato">
  <div class="footer-logo">
    <img src="images/logo-positive.svg" alt="{{ site.title }}">
    <p>O conteúdo deste site está sob a licença <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">CC BY-SA 3.0</a>. Desenvolvido por <a href="http://nucleodigital.cc/">Núcleo Digital</a> e <a href="http://www.mapascoletivos.com.br/">Mapas Coletivos</a> e o código está no <a href="https://github.com/nucleo-digital/agua-sp">github</a>.</p>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Contato</h3></li>
      <li><a href="mailto: {{ site.email }}">Email</a></li>
    </ul>
    <ul>
      <li><h3>Mapa do Site</h3></li>
      <li><a href="#cadastre-se">cadastre-se</a></li>
      <li><a href="#quem-somos">quem somos</a></li>
      <li><a href="#agenda">agenda mínima</a></li>
      <li><a href="#contato">contato</a></li>
    </ul>
  </div>
</footer>
