<footer class="footer" id="contato">
  <div class="container">
    <div class="col">
      <div class="footer-links">
        <ul>
          <li><a href="#cadastre-se">assine</a></li>
          <li><a href="#a-crise">crise</a></li>
          <li><a href="#agenda">agenda mínima</a></li>
          <li><a href="#solucoes">soluções</a></li>
          <li><a href="#quem-somos">quem somos</a></li>
          <li><a href="#compartilhe">compartilhe</a></li>
          <li><a href="#contato">contato</a></li>
        </ul>
        <ul>
          <li><a href="mailto: {{ site.email }}">contato</a></li>
        </ul>
        <ul class="social-icons">
          <li><a class="icon facebook" href="https://www.facebook.com/{{ site.facebook }}"><img src="images/icon-facebook.svg" alt="Facebook"></a></li>
          <li><a class="icon twitter" href="https://www.twitter.com/{{ site.twitter }}"><img src="images/icon-twitter.svg" alt="Twitter"></a></li>
          <li><a class="icon gplus" href="https://plus.google.com/{{ site.gplus }}/about"><img src="images/icon-gplus.svg" alt="Google Plus"></a></li>
          <li><a class="icon youtube" href="https://www.youtube.com/user/{{ site.youtube }}"><img src="images/icon-youtube.svg" alt="Youtube"></a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="footer-logo">
        <img src="images/logo-large.svg" alt="{{ site.title }}">
      </div>
      <div class="footer-disclaimer">
        <p>O conteúdo deste site está sob a licença <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">CC BY-SA 3.0</a>. Desenvolvido por <a href="http://nucleodigital.cc/">Núcleo Digital</a> e <a href="http://www.mapascoletivos.com.br/">Mapas Coletivos</a> e o código está no <a href="https://github.com/nucleo-digital/agua-sp">github</a>.</p>
      </div>
    </div>
  </div>
</footer>
