<header class="navigation">
  <div class="navigation-wrapper">
    <a href="index.html" class="logo">
      <img src="images/logo-small.svg" alt="{{ site.title }}">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="#cadastre-se">cadastre-se</a></li>
        <li class="nav-link"><a href="#quem-somos">quem somos</a></li>
        <li class="nav-link"><a href="#agenda">agenda mínima</a></li>
        <li class="nav-link"><a href="#contato">contato</a></li>
      </ul>
    </div>
  </div>
</header>
