<header class="navigation">
  <div class="navigation-wrapper">
    <a href="index.html" class="logo">
      <img src="images/logo-small.svg" alt="{{ site.title }}">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="#cadastre-se">cadastre-se</a></li>
        <li class="nav-link"><a href="#quem-somos">quem somos</a></li>
        <li class="nav-link"><a href="#agenda">agenda mínima</a></li>
        <li class="nav-link"><a href="#contato">contato</a></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <a class="icon facebook" href="https://www.facebook.com/{{ site.facebook }}"><img src="images/icon-facebook.svg" alt="Facebook"></a>
      <a class="icon twitter" href="https://www.twitter.com/{{ site.twitter }}"><img src="images/icon-twitter.svg" alt="Twitter"></a>
      <a class="icon gplus" href="https://plus.google.com/+{{ site.gplus }}"><img src="images/icon-gplus.svg" alt="Google Plus"></a>
      <a class="icon youtube" href="https://www.youtube.com/user/{{ site.youtube }}"><img src="images/icon-youtube.svg" alt="Youtube"></a>
    </div>
  </div>
</header>
