<div id="crise" class="hero">
  {% for apresentacao in site.apresentacao %}
    <div class="hero-inner">
      <a href="/" class="hero-logo">
        <img src="images/logo-large.svg" alt="{{ site.title }}">
      </a>
      <div class="hero-copy">
        {{ apresentacao.content }}
      </div>
      <div class="countdown">
        <div class="quarenta-e-oito-horas"></div>
      </div>
    </div>
  {% endfor %}
</div>
<section id="live">
  <div class="container">
    <div class="stream-share">
      <div>Compartilhe</div>
      <div>
        <a class="fb-share" href="#">
          <img src="images/fb-video.svg" alt="Share on Facebook">
        </a>
      </div>
      <div>
        <a class="twitter-share" href="https://twitter.com/share?text={{ site.twitter_share }}" target="_blank">
          <img src="images/tw-video.svg" alt="Share on Twitter">
        </a>
      </div>
    </div>
  </div>
</section>
