<div id="crise" class="hero">
  {% for apresentacao in site.apresentacao %}
    <div class="hero-inner">
      <a href="/" class="hero-logo">
        <img src="images/logo-large.svg" alt="{{ site.title }}">
      </a>
      <div class="hero-copy">
        {{ apresentacao.content }}
      </div>
    </div>
  {% endfor %}
</div>
<section id="live">
  <div class="container stream-share">
    <h5>Compartilhe</h5>
    <a class="fb-share" href="#">
      <img src="images/fb-video.svg" alt="Share on Facebook">
    </a>
    <a class="twitter-share" href="https://twitter.com/share?text={{ site.twitter_share }}" target="_blank">
      <img src="images/tw-video.svg" alt="Share on Twitter">
    </a>
  </div>
</section>
