<section id="live">
  <div class="container">
    <h2>Assista ao vivo</h2>
    <div class="stream">
      <iframe src="http://new.livestream.com/accounts/4764012/events/3532935/player?width=560&height=315&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe>
      <iframe src="http://new.livestream.com/accounts/4764012/events/3532935/feed_embed?width=480&height=315" width="480" height="315" frameborder="0" id="feed-embed-stand-alone" scrolling="auto"></iframe>
    </div>
    <div class="stream-share">
      <div>Compartilhe</div>
      <div>
        <a class="fb-share" href="#">
          <img src="images/fb-video.svg" alt="Share on Facebook">
        </a>
      </div>
      <div>
        <a class="twitter-share" href="https://twitter.com/share?text=Estou assistindo ao vivo o lançamento do Água@SP. Assista comigo nesse link: " target="_blank">
          <img src="images/tw-video.svg" alt="Share on Twitter">
        </a>
      </div>
    </div>
  </div>
</section>
