<section id="quem">
  <div class="container">
    <h2>Quem somos</h2>
    <div class="slogan">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum nisl rutrum sollicitudin tempor. Fusce in tincidunt est, et volutpat odio. Donec quis purus vitae dui accumsan malesuada. Quisque convallis nibh eu risus ullamcorper tempus. Suspendisse dui quam, dictum ut tempor id, commodo quis felis. Quisque dignissim ante non pellentesque mattis. Pellentesque at pulvinar felis, vel aliquam metus. Sed nec velit sapien. </p>
    </div>
    <div class="cards logos">
      {% for quem in site.quem %}
      <div class="card">
        <a href="javascript:void(0)" class="grid-item">
          <img src="{{quem.image}}" alt="{{quem.title}}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
