<section id="quem-somos">
  <div class="container">
    <h2>Quem somos</h2>
    <div class="slogan">
      <p>A Aliança é uma coalizão de sociedade civil para contribuir com a construção de segurança hídrica em São Paulo, por meio da coordenação das várias iniciativas já em curso e da potencialização da capacidade da sociedade de debater e executar novas medidas.</p>
      <p><strong>Meta de curto prazo:</strong> chegar em abril de 2015 em situação segura para enfrentar mais um período de estiagem.</p>
      <p><strong>Meta de longo prazo:</strong> Implantar um novo modelo de gestão da água, que garanta um futuro seguro e sustentável para os moradores  de São Paulo (estabilidade social, econômica e ambiental).</p>
      <p>Para atingir essas metas as organizações participantes propõem um consenso em torno de um conjunto de ações. Essa Agenda Mínima é o núcleo que vai permitir que instituições independentes entre si unam esforços e multipliquem o resultados de suas iniciativas.  A agenda mínima foi construída a partir dos resultados do projeto Água@SP,  que teve a adesão de mais de 280 especialistas de 60 municípios, que propuseram 196 ações de curto prazo e 191 de longo prazo, além de apontarem mais de 300 iniciativas inspiradoras para a gestão da água em São Paulo.</p>
    </div>
  </div>
</div>
<section id="parceiros">
  <div class="container">
    <div class="cards logos">
      {% for quem in site.quem %}
      <div class="card">
        <a href="javascript:void(0)" class="grid-item">
          <img src="{{quem.image}}" alt="{{quem.title}}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
