.button {
  border-radius: 9px;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 3px 3px 6px rgba(0,0,0,.5);

  &.black {
    background: #333;
    color: #FFF;
  }
  &.white {
    background: #FFF;
    color: #333;
  }
}
