#cadastre-se {
  padding: 3em 0;

  .container {
    @include outer-container;

    .registry,
    .report-download {
      @include span-columns(6);
      padding: 0 1em;
    }

    .centraliza {
      text-align: center;
    }

    [type="submit"] {
      display: block;
      width: 100%;
      background: #2C4F77;
      font-weight: normal;
    }

    .social-register h2 {
      margin-top: 1em;
      &:before {
        content: none;
      }
    }

    .buttons {
      @include outer-container;

      button {
        @include span-columns(6);
        font-weight: normal;

        &#fb-button {
          background: #3664A2;
        }
        &#google-button {
          background: #DD4B39;
        }
      }
    }


  }
}

.report-download {
  .report-box {
    width: 320px;
    height: 200px;
    margin: 1.3em auto 0;

    position: relative;

    .box {
      position: absolute;
    }

    .report-link {
      width: 180px;
      height: 160px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -90px;
      text-align: center;
      color: #FFF;

      a {
        color: inherit;
      }
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 640px) {
  #cadastre-se {
    .container {
      .registry,
      .report-download {
        @include span-columns(12);
      }
    }
  }
}
