.hero {
  $hero-background-top: darken($base-accent-color, 25);
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: #FFF;
  $gradient-angle: 10deg;
  $hero-image: '../images/bg-header.jpg';

  @include background(url($hero-image));

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;

  .hero-logo {
    display: block;
    margin: auto;
    width: 50%;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: justify;
      margin-bottom: 2em;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;
        text-align: center;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      h2,
      p {
        margin: auto;
        margin-bottom: 1em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.5em;
          max-width: 65%;
        }
      }

      h2 {
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
