#live {
  // background: #2C4F77;
  color: white;
  text-align: center;
  padding: 2em 0;

  h2:before {
    content: url('../images/heading-negative.png');
  }

  h5 {
    display:inline-block;
    vertical-align: top;
    margin: .3em;
    color: #87DB75;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .stream {
    width: 1050px;
    margin: auto;
  }

  a {
    margin: 0 1em;
  }
}
