#parceiros {
  padding: 0 1em;
  .logos {
    @include outer-container;

    .logo {
      @include span-columns(2);
      margin-bottom: 1em;
      text-align: center;

      &:nth-child(6n) {
        @include omega();
      }
      &:nth-child(6n+1) {
        clear: left;
      }
    }
  }
}

#quem-somos {
  .slogan {
    padding: 0 1em;
  }
}
