#quem {
  background-color: #F1F1F1;
  padding: 80px 0;

  .slogan {
    text-align: center;
    width: 75%;
    margin: 20px auto 60px auto;
  }

  .cards.logos {
    .card {
      border: 0;
      box-shadow: none;
      background-color: #f1f1f1;
      text-align: center;
    }
  }

  h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    margin-bottom: 20px;
  }
}
