#parceiros {
  padding: 0 1em;
  .logos {
    @include outer-container;

    .logo {
      @include span-columns(4);
      margin-bottom: 1em;
      text-align: center;
      @include media($medium-screen) {
        @include span-columns(2);
      }

      &:nth-child(3n) {
        @include omega();
        @include media($medium-screen) {
          margin-right: 2.35765%;
        }
      }
      &:nth-child(3n+1) {
        clear: left;
        @include media($medium-screen) {
          clear: none;
        }
      }
      @include media($medium-screen) {
        &:nth-child(6n) {
          @include omega();
        }
        &:nth-child(6n+1) {
          clear: left;
        }
      }
    }
  }
}

#quem-somos {
  .slogan {
    padding: 0 1em;
  }
}
