#solucoes {
  background-color: #D5D5D5;

  h5 {
    font-size: 1em;
    text-align: center;
    margin: 1em 2em;
  }

  ul {
    padding: 1em 2em 0;
    li {
      border-bottom: 1px solid #2C4F77;
      margin-bottom: .1em;
      padding-bottom: .1em;
      img,.content {
        vertical-align: top;
        display: inline-block;
      }
      img {
        width: 20%;
        padding-right: 1em;
      }
      h6 {
        margin-bottom: .5em;
        font-size: 1.3em;
      }
      .content {
        width: 76%;
      }
      p {
        font-size: .9em;
        line-height: 1em;
        margin:.2em;
        span {
          font-weight: bold;
        }
      }
      .description {
        margin-bottom: 1em;
      }
    }
  }
}
